body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Make the entire body a flex container */
    justify-content: center; /* Align content in the center horizontally */
    align-items: center; /* Align content in the center vertically */
    min-height: 100vh; /* Set the minimum height to cover the viewport */
}

.container {
    background-color: #fff; /* Set a background color for the container */
    padding: 20px; /* Add some padding for spacing */
    border-radius: 5px; /* Add a slight border radius for a softer look */
    text-align: center; /* Center the text content within the container */
}

.text-content h1 {

}

h1 {
    font-size: 2em; /* Set a larger font size for the heading */
    margin-bottom: 10px; /* Add some space below the heading */
}

.navigation {
    display: inline-flex; /* Make the navigation a flex container */
    justify-content: space-between; /* Distribute navigation items evenly */
    background-image: url("ta.png");
    background-size: length; /* Ensure image covers the entire heading */
    background-repeat: no-repeat;
    background-position: center; /* Center the image within the heading */
    height: 400px; /* Set a height for the heading */ /* Adjust as needed */
    width: 500px;
}

.navigation a {
    color: #000; /* Set the text color for navigation links */
    text-decoration: none; /* Remove underline decoration */
    padding: 10px 20px; /* Add padding for navigation links */
    border-radius: 5px; /* Add a border radius for rounded corners */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    height: 400px; /* Set a height for the heading */ /* Adjust as needed */
    width: 210px;
}

.navigation a:hover {
    background-color: #ddd; /* Change background color on hover */
    opacity: .5;
}

.photographs,
.blog {
    font-weight: bold; /* Make these navigation links bold */
}
footer {
    margin-top: auto;
}